header{
    background: rgb(116, 207, 55);
    color: rgb(194, 47, 47);
    height: 150px;
    width: 100%;
    text-align: center;
    margin: 0 0 50px
}

body{
    margin: 0;
}

/*h1*/
.main-headline{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    line-height: 150px;
}

.container{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: center; 
    column-gap: 50px;
    margin-bottom: 40px;
}

#json-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}

#csv-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#json-format-input, #csv-format-output{
    height: 500px;
    width: 350px;
    border: 2px solid rgb(75, 138, 34);
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

#json-format-input{
    margin-bottom: 15px;
}

/* #csv-format-output{
    margin-bottom: 65px;
} */

#btn-convert-json-to-csv, #btn-clear-json-and-csv, #btn-format-json-text{
    padding: 0;
    font-size: 20px;
}

#btn-convert-json-to-csv{
    height: 100px;
    width: 100px;
    background-color: rgb(206, 42, 42);
    border-color: rgb(192, 89, 89);
    text-align: center;
    font-weight: bold;
}

#btn-clear-json-and-csv{
    height: 60px;
    width: 150px;
    background-color: rgb(67, 187, 187);
    border-color: rgb(145, 206, 206);
    font-weight: bold;
}

f#format-btn-container{
    display: flex;
    flex-direction: row;
}

#btn-format-json-text{
    height: 50px;
    width: 120px;
    background-color: rgb(238, 207, 69);
    border-color: rgb(206, 128, 39);
    font-weight: bold;
}
